#header{
    text-align: center;
    background-color: #f0ccfc;
}
#about{
  font-family:"Lucida Console", "Courier New", "monospace" ;
  text-decoration:underline ;
  color:rgb(5, 93, 255)
}
#skills{
  border:5px solid black ;
  padding:3px 10px
  }